<nav class="sidebar">
  <div class="logo">𝒜𝓃𝒾𝓀𝑒𝓉</div>
  <ul class="nav-links">
    <li><a routerLink="/"><i class="fas fa-home"></i> <span>Home</span></a></li>
    <li><a routerLink="/about"><i class="fas fa-user"></i> <span>About</span></a></li>
    <li><a routerLink="/experience"><i class="fas fa-tasks"></i> <span>Experience</span></a></li>
    <li><a routerLink="/projects"><i class="fas fa-laptop-code"></i> <span>Projects</span></a></li>
    <li><a routerLink="/achievements"><i class="fas fa-award"></i> <span>Achievements</span></a></li>
    <li><a routerLink="/contact"><i class="fas fa-envelope"></i> <span>Contact</span></a></li>


    <!-- Future Links
    <li><a routerLink="/portfolio"><i class="fas fa-briefcase"></i> <span>Portfolio</span></a></li>
    <li><a routerLink="/contact"><i class="fas fa-envelope"></i> <span>Contact</span></a></li>
    -->
  </ul>
</nav>
