<div class="projects-container slide-in">
  <h2>Projects</h2>
  <div class="projects-grid">
    
    <div class="project-card">
      <div class="project-header">
        <h3 style="color: #FFC107;">&#x2693; JobHook</h3>
      </div>
      <img src="assets/jobhook.png" alt="Job Aggregator Portal" class="project-image">
      <p>
        A real-time job search platform integrating APIs like Adzuna, Jooble, and JSearch with Spring Boot backend and Angular frontend. Includes resume-based job recommendations.
      </p><br>
      <a href="https://github.com/Aniket8023/JobHook.git" target="_blank">View Code</a>
    </div>

    <div class="project-card">
      <div class="project-header">
        <h3>Amazon Clone</h3>
      </div>
      <img src="assets/amazon.png" alt="Amazon Clone" class="project-image">
      <p>
        Built a fully functional e-commerce website, including features like product search, shopping cart, and user authentication using <strong>HTML, CSS, JavaScript</strong> for the frontend.
      </p>
      <br>
      <a href="https://github.com/Aniket8023/Amazon-Clone.git" target="_blank">View Code</a>
    </div>    

    <div class="project-card">
      <div class="project-header">
        <h3>Shopify Clone (Intern Project)</h3>
      </div>
      <img src="assets/shopify.png" alt="Shopify Clone" class="project-image">
      <p>
        Built a basic e-commerce platform with login/signup, product display, and shopping cart features during internship.
      </p>
      <br><br><br><br>
      <a href="https://github.com/Aniket8023/Shopify.git" target="_blank">View Code</a>
    </div>

  </div>
</div>
