<div class="hero-container" [ngClass]="{'animate-once': isFirstVisit}" [@slideInFromRight]>
  <div class="text-section">
    <h1>Hello, my name is <br><span class="highlight">Aniket Solanke</span></h1>
    <h2>I’m a <span class="highlight-secondary">Full Stack Java Developer</span></h2>
    <p>
      I’m a passionate developer focused on building beautiful and functional web applications using modern Java and Angular-based solutions.
    </p>
    <button class="about-btn" routerLink="/about">More About Me</button>
  </div>

  <div class="image-section">
    <img src="assets/Aniket.jpg" alt="Aniket Photo" />
  </div>
</div>
